{
  "class": "AS3",
  "persist": true,
  "declaration": {
      "class": "ADC",
      "schemaVersion": "3.18.0",
      "id": "urn:uuid:33045210-3ab8-4636-9b2a-c98d22ab915d",
      "label": "http",
      "remark": "application Template",
      "Tenant-test": {
          "class": "Tenant"{% if index < count %}, {% endif %}

{% for num in range(index|int, count|int, 1) %}

          "my-app-{{ 100 + num }}": {
              "class": "Application",
              "template": "generic",
              "foo_ns_vs": {
                  "class": "Service_HTTP",
                  "remark": "app in Tenant-{{ 100 + num }}",
                  "virtualAddresses": [
                      "10.250.{{ 100 + (num/254)|int }}.{{ 1 + num%254 }}"
                  ],
                  "profileHTTP": {
                      "use": "http_X-Forwarded-For"
                  },
                  "persistenceMethods": [
                      {
                          "use": "cookie_encryption"
                      }
                  ],
                  "iRules": [
                      "myirule"
                  ],
                  "pool": "mypool1"
              },
              "myirule": {
                  "class": "iRule",
                  "remark": "switch between pools",
                  "iRule": "when HTTP_REQUEST {\n if { [HTTP::uri] starts_with \"/coffee\" } {\n pool /Tenant-test/my-app-{{ 100 + num }}/mypool1 \n } else { \n pool /Tenant-test/my-app-{{ 100 + num }}/mypool2 \n } \n}"
              },
              "cookie_encryption": {
                  "class": "Persist",
                  "persistenceMethod": "cookie",
                  "encrypt": true,
                  "cookieMethod": "insert",
                  "passphrase": {
                      "ciphertext": "a3RjeGZ5Z2Q=",
                      "protected": "eyJhbGciOiJkaXIiLCJlbmMiOiJub25lIn0="
                  }
              },
              "http_X-Forwarded-For": {
                  "class": "HTTP_Profile",
                  "xForwardedFor": true
              },
              "mymonitor": {
                  "class": "Monitor",
                  "monitorType": "tcp",
                  "interval": 5,
                  "timeout": 16
              },
              "mypool1": {
                  "class": "Pool",
                  "monitors": [
                      "http"
                  ],
                  "members": [
                      {
                          "servicePort": 80,
                          "serverAddresses": [
                            "1.2.3.{{ 100 + num }}",
                            "1.2.{{ 100 + num }}.4"
                          ]
                      }
                  ]
              },
              "mypool2": {
                  "class": "Pool",
                  "monitors": [
                      {
                          "use": "mymonitor"
                      }
                  ],
                  "loadBalancingMode": "least-connections-member",
                  "members": [
                      {
                          "servicePort": 80,
                          "serverAddresses": [
                            "1.{{ 100 + num }}.3.4",
                            "{{ 100 + num }}.2.3.4"
                          ]
                      }
                  ]
              }
          }{{ ',' if not loop.last else '' }}

{% endfor %}
      }
  }
}

